.trivia-container {
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px; /* Adjust the max width as needed */
  margin: 0 auto; /* Center the container */
}

.trivia-box {
  padding: 20px;
}

.timer {
  font-size: 18px;
}

.question {
  font-size: 16px;
  margin: 20px 0;
}

.answer-options {
  display: flex;
  flex-direction: column;
}

.answer-option {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer-option:hover {
  background-color: #f0f0f0;
}

.answer-option.correct {
  background-color: green;
  color: white;
}

.answer-option.incorrect {
  background-color: red;
  color: white;
}

.category-info {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}